<?xml version="1.0"?>
<robot name="crawler" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference ="front_right_wheel_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference ="front_left_wheel_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference ="rear_right_wheel_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference ="rear_left_wheel_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="camera_front_link">
        <sensor name="camera_front_sensor" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <plugin name="camera_front_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_front_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="camera_back_link">
        <sensor name="camera_back_sensor" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <plugin name="camera_back_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_back_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <gazebo reference="lidar_link">
        <sensor name="lidar" type="ray">
          <pose>0 0 0 0 0 0</pose>
          <visualize>true</visualize>
          <update_rate>10.0</update_rate>
          <ray>
            <scan>
              <horizontal>
                <samples>720</samples>
                <resolution>1</resolution>
                <min_angle>-1.047</min_angle> 
                <max_angle>1.047</max_angle>  
              </horizontal>
            </scan>
            <range>
              <min>0.1</min>
              <max>10.0</max>
              <resolution>0.01</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.01</stddev>
            </noise>
          </ray>
          <plugin name="front_lidar_plugin" filename="libgazebo_ros_ray_sensor.so">
            <update_rate>10.0 </update_rate>
          </plugin>
        </sensor>
    </gazebo>

</robot>